@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-image: url('https://avatars.mds.yandex.net/i?id=852022d99633fd4051a1edcabb9db3c3f0f6cd43-5897487-images-thumbs&n=13');
    background-size: 2000px;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    text-align: center;
}

header {
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 10px;
    font-family: "Pacifico", serif;
    height: auto;
    width: 100%;
    font-style: normal;
}

#nav1 ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#nav1 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#nav1 a:hover {
    color: #0056b3;
}

#logo {
    font-family: "Pacifico", cursive;
    position: absolute;
    top: 0;
    text-align: start;
    font-size: 25px;
    margin-left: 40px;
}

#search-box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

#search {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    background-color: #aed4f3;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0073e6;
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#weather-info {
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}


#weather-monday {
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#weather-tuesday {
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

#weather-wednesday {
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

#weather-thursday {
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

#weather-friday {
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

#weather-sunday{
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}
#weather-saturday{
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

#weather-first-week{
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}
#weather-second-week{
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

#weather-third-week{
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}
#weather-fourth-week{
    background-color: rgba(174, 212, 243, 0.3); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}



.weather-info img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.weather-info h2 {
    font-size: 18px;
    margin: 10px 0;
}

.weather-info p {
    font-size: 16px;
    color: #333;
}

footer {
    background-color: rgba(174, 212, 243, 0.3); 
    color: black;
    text-align: center;
    padding: 35px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 100px;
}
